html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

body {
  font-size: 1em; }
  @media (max-width: 750px) {
    body {
      font-size: .8em; } }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, video {
  width: 100%; }

.of {
  overflow: auto; }

.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table;
    clear: both; }

html {
  height: 100%;
  overflow-x: hidden; }

.curtains {
  width: 100%;
  z-index: 1;
  position: relative; }
  .curtains > li {
    -webkit-transform: translateZ(0);
    background: white;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1; }
  .curtains > li.hidden {
    display: none; }
  .curtains > li:first-child {
    z-index: 2; }

body {
  color: #373755;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

a {
  color: #1074ce;
  text-decoration: none; }
  a:hover {
    color: #0a487f; }

.align-center {
  text-align: center; }

/*
.curtains>li {
    box-shadow:0 0 12px #666;

    &:last-child{
        box-shadow:none
    }
}
*/
/*
#menu{
    position:fixed;
    top:20px;
    left:20px;
    z-index:20;
    padding:10px;
    background-color:#000;

    li{
        margin:0
    }

    a{
        margin:0;
        color:#FFF;
    }
}
*/
#section-1, .cover {
  background-color: #e5e5e5 !important; }
  #section-1 header h1, .cover header h1 {
    font-family: 'Helvetica Neue', 'arial', sans-serif;
    position: relative;
    z-index: 9999999999999999999999999999999;
    margin-top: 4em;
    width: 20%;
    margin-left: 60%;
    margin-right: auto;
    text-align: left;
    min-width: 270px;
    font-size: 4em;
    font-weight: 900;
    color: #1d1d1d; }
    @media (max-width: 750px) {
      #section-1 header h1, .cover header h1 {
        font-size: 3em; } }
    #section-1 header h1 span, .cover header h1 span {
      font-family: 'georgia', sans-serif;
      font-size: 0.8em;
      font-style: italic; }

#section-2 {
  background: #7d88bb; }
  #section-2 .sec_two .center-paragraph {
    color: white; }

#section-3 {
  background: #fafafa; }
  #section-3 .sec_three .center-paragraph {
    color: inherit; }

#section-4 {
  background: #fac8c8; }
  #section-4 .sec_four .center-paragraph {
    color: inherit; }

#section-5 {
  background: #e7e950; }
  #section-5 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-5 .sec_five .center-paragraph {
    color: white; }

#section-6 {
  background: #f7cb51; }
  #section-6 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-6 .sec_six .center-paragraph {
    color: white; }

#section-7 {
  background: #f04e49; }
  #section-7 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-7 .sec_seven .center-paragraph {
    color: white; }

#section-8 {
  background: #e58db6; }
  #section-8 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-8 .sec_eight .center-paragraph {
    color: white; }

#section-9 {
  background: #9dd87b; }
  #section-9 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-9 .sec_nine .center-paragraph {
    color: white; }

#section-10 {
  background: #56c9b5; }
  #section-10 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-10 .sec_ten .center-paragraph {
    color: white; }

#section-11 {
  background: #3cb8de; }
  #section-11 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-11 .sec_eleven .center-paragraph {
    color: white; }

#section-12 {
  background: #5d84ba; }
  #section-12 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-12 .sec_twelve .center-paragraph {
    color: white; }

#section-13 {
  background: #7c639f; }
  #section-13 h2 {
    position: absolute;
    font-size: 10em;
    top: 82%;
    left: 65%; }
  #section-13 .sec_thirteen .center-paragraph {
    color: white; }

.icon_container {
  max-width: 400px;
  margin: 0 auto; }

.center-paragraph {
  font-family: 'Helvetica Neue', 'arial', sans-serif;
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5em; }
  .center-paragraph h2 {
    font-family: 'georgia', sans-serif;
    font-size: 4em;
    text-align: left;
    margin: 0 0 0.5em 0;
    font-style: italic; }
  .center-paragraph p {
    font-size: 1em;
    margin-bottom: 0.625em;
    line-height: 1.25em; }

.right_image {
  float: right;
  width: 60%;
  padding-top: 10em;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box; }
  @media (max-width: 750px) {
    .right_image {
      float: none;
      width: 100%; } }

.right_text {
  float: right;
  width: 40%;
  padding: 3em;
  box-sizing: border-box;
  position: relative;
  left: -6em; }
  @media (max-width: 750px) {
    .right_text {
      float: none;
      width: 100%; } }
  .right_text h2 {
    font-family: 'georgia', sans-serif;
    font-size: 4em;
    text-align: left;
    margin: 0 0 0.5em 0;
    font-style: italic; }
  .right_text p {
    font-family: 'Helvetica Neue', 'arial', sans-serif;
    font-size: 1em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    line-height: 1.25em; }

.left_image {
  float: left;
  width: 60%;
  padding-top: 10em;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box; }
  @media (max-width: 750px) {
    .left_image {
      float: none;
      width: 100%; } }

.left_text {
  float: left;
  width: 40%;
  padding: 3em;
  box-sizing: border-box;
  position: relative;
  right: -6em; }
  @media (max-width: 750px) {
    .left_text {
      float: none;
      width: 100%; } }
  .left_text h2 {
    font-family: 'georgia', sans-serif;
    font-size: 4em;
    text-align: left;
    margin: 0 0 0.5em 0;
    font-style: italic; }
  .left_text p {
    font-family: 'Helvetica Neue', 'arial', sans-serif;
    font-size: 1em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    line-height: 1.25em; }

.bloc {
  display: block; }
